<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %} | Matthieu</title>
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body class="text-gray-100" style="background-color: oklch(0.13 0.028 261.692); min-height: 100vh; display: flex; flex-direction: column;">

    <nav class="fixed top-0 w-full bg-gray-900 border-b border-gray-800 z-50">
        <div class="max-w-5xl mx-auto px-6 py-4 flex justify-between items-center">
            <a href="{{ path('app_home') }}" class="font-bold text-white text-lg">Matthieu</a>
            <ul class="flex gap-6 text-sm text-gray-400">
                <li><a href="{{ path('app_projects') }}" class="hover:text-white transition">Projets</a></li>
                <li><a href="{{ path('app_skills') }}" class="hover:text-white transition">Compétences</a></li>
                <li><a href="{{ path('app_contact') }}" class="hover:text-white transition">Contact</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_dashboard') }}" class="text-blue-400 hover:text-blue-300 transition">Admin</a></li>
                <li><a href="{{ path('app_logout') }}" class="text-red-400 hover:text-red-300 transition">Déconnexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="pt-16" style="flex: 1;">
        {% block body %}{% endblock %}
    </main>

   <footer class="w-full mt-16" style="background-color: oklch(0.11 0.02 260.07); padding-top: 1.2rem; padding-bottom: 1.2rem;">
        <div class="max-w-5xl mx-auto px-6 py-4">

            <div class="flex justify-between items-start">
                <a href="{{ path('app_home') }}" class="font-bold text-white text-lg tracking-wide">Matthieu</a>
                <div class="text-right">
                    <ul class="flex gap-6 text-xs text-gray-500 mb-2">
                        <li><a href="{{ path('app_mentions') }}" class="hover:text-blue-400 transition">Mentions légales</a></li>
                        <li><a href="{{ path('app_cgv') }}" class="hover:text-blue-400 transition">Conditions générales</a></li>
                        <li><a href="{{ path('app_rgpd') }}" class="hover:text-blue-400 transition">RGPD</a></li>
                    </ul>
                    <p class="text-gray-700 text-xs">© {{ "now"|date("Y") }} Matthieu. Tous droits réservés.</p>
                </div>
            </div>

        </div>
    </footer>

</body>
</html>